* {
    font-family: 'Varela Round', sans-serif;
    overflow: hidden;
}

.background {
    background: url(background.png);
    height: 100%;
}

a {
    text-decoration: none;
}

a.hover {
    color: blue;
}


#trio {
	position: absolute;
	left: 76.6%;
	top: 48.62%;
}

#AF {
	position: absolute;
	width: 65.26%;
	left: 17.4%;
	top: 20.722%;
	font-family: 'Oxygen Mono';
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 121px;
	text-align: center;
	color: white;
	mix-blend-mode: normal;
}

#FA {
	/* For all your money-calculating needs. */
	position: absolute;
	left: 7%;
	top: 51.9%;
	font-family: 'Oxygen Mono';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 39px;
	text-align: center;
	color: white;
	mix-blend-mode: normal;
}

#Mission {
	/* Mission */
	position: absolute;
	width: 9.4%;
	height: 10.009%;
	left: 56.3%;
	top: 3%;
	font-family: 'Oxygen Mono';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	color: white;
}

#Center {
	background-color: white; 
    position: absolute;
    width: 40%;
    height: 40%;

    left: 20%;
    top: 30%;
}


#Contact {
	position: absolute;
	width: 9.4%;
	height: 10.009%;
	left: 87.44%;
	top: 3%;
	font-family: 'Oxygen Mono';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	color: white;
}

.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form-style-6 h1{
	background: black;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px black;
	padding: 3%;
	border: 1px solid black;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: black;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: grey;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	left: 32.5%;
}


.styled-table thead tr {
    background-color: black;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr{
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid black;
}


.styled-table tbody tr.active-row {
    font-weight: bold;
    color: black;
}


div#news {
	border: 1px solid black;
	width: 20em;
	padding: 1em;
	background-color: white;
}


div#news h3 {
	color: black;
	text-align: centre;
	margin-top: 0;
}

div#news dl {
	margin: 0 1em;
}

